@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body {
  background: #0c192c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background: #4fc3dc;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate {
    0%{  transform: translateY(100vh) scale(0);  }
    100%{  transform: translateY(-100vh) scale(1);  }
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 7px 7px 0 rgba(228, 224, 224, 0.6);
  display: flex;
  padding: 20px 30px;
  position: absolute;
  margin: 100px 0;
  z-index: 10;
}
.img-container {
  position: relative;
  width: 110px;
}
.img-container::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 0px 10px #000;
}
.img-container img {
  border-radius: 50%;
  border: 2px solid #000;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.music-container.play .img-container img {
  animation-play-state: running;
}
@keyframes rotate {
  from {    transform: rotate(0deg);    }
  to {  transform: rotate(360deg);  }
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #1b1818b7;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.action-btn.playy {
  color: #2c18e0d3;
  font-size: 30px;
}
.action-btn:hover{  color: #111;    }

.music-info {
  background-color: rgba(255, 255, 255, 0.911);
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  border-radius: 15px 15px 0px 0px;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}
.music-info h3 {    margin: 0;  }

.progress-container {
  background-color: #fff;
  border: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.progress {
  background-color: #0034c4;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}
.progress-container:hover{  height: 6px;    }